// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//custom colors
$blue:#3f8eff;
$light-blue:#00cfff;

//palette colors
$palette_blue: #37abb4;
$palette_blue_green: #7ed2bb;
$palette_peach: #f49e89;
$palette_dark: #585252;
$palette_yellow: #f0ae48;

$dark: #000124;

@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url('../../public/assets/fonts/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 35 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light'), url('../../public/assets/fonts/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 55 Roman'), url('../../public/assets/fonts/AvenirLTStd-Roman.woff') format('woff');
}
//fonts
$avenir-heavy: 'Avenir LT Std 85 Heavy';
$avenir-light: 'Avenir LT Std 35 Light';
$avenir-roman: 'Avenir LT Std 55 Roman';
