<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hatchery</title>
</head>
<body style="background-color:#eee;color:#231f20;font-size:14px;font-family:Arial;">
    <table cellspacing=0 cellpadding=0 width='800' style="background-color: #eee;" align='center'>
        <tr>
            <td style='padding-top: 20px; padding-bottom: 20px; text-align: right; width: 350px'>
                <img src="http://dev.bcdpinpoint.com/influencer/public/images/app-logo.png" alt="">
            </td>
            <td style='padding-left: 10px; padding-top: 20px; padding-bottom: 20px; text-align: left;'>
                <p style='color:#5d5d5d;font-size:32px;font-family:Arial; text-align: left; font-weight: bold'>
                    Hatchery
                </p>
            </td>
        </tr>
    </table>

    <table cellspacing=0 cellpadding=0 width='800' style="padding-bottom: 30px;background-color: #fff; border-top: 4px solid #5399ff" align="center">
        <tr>
            <td style='padding-left: 10px; padding-top: 30px; padding-bottom: 50px; text-align: center;'>
                <p style='color:#231f20;font-size:23px;font-family:Arial; text-align: center; font-weight: bold'>Verify your email</p>
            </td>
        </tr>
        <tr>
            <td style='padding-left: 25px; padding-right: 25px; padding-bottom: 50px; text-align: center;'>
                <p style='color:#231f20;font-size:18px;font-family:Arial; text-align: left;'>
                    To complete your registration as an influencer, we need to confirm your email address so we know you're reachable to this address. <br />
                    <br />
                    Enter the code below to your app to verify that this email belongs to you.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <table cellspacing=0 cellpadding=0 width='200' style="background-color: #cbe0ff;" align="center">
                    <tr>
                        <td style='padding-top: 10px; padding-bottom: 10px; text-align: center;'>
                            <p style='color:#231f20;font-size:40px;font-family:Arial; text-align: center; text-transform: uppercase;'>
                                CODE
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style='padding-left: 25px; padding-right: 25px; padding-top: 50px; text-align: center;'>
                <p style='color:#231f20;font-size:18px;font-family:Arial; text-align: left;'>
                    Thank you, <br>
                    The Hatchery team
                </p>
            </td>
        </tr>
    </table>
</body>
</html>